.create {
  width: 100%;
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
  background-image: url(../images/home-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}